
body{
	margin:0px;
	padding: 0px;
}
.head{
  background-size: cover;
	background-image: url(../vendor/assets/landing/background/bg_home_header.png);
/*	width: 100%;*/
	height: auto;
	background-repeat: no-repeat;
}

.font-head1 {
  padding-top: 20px;
  color: #1E1D32;
  font-family: 'Lato';
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  width: 100%;
  text-align: center;
}

 .navbar.transparent.navbar-inverse.navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.nav-faq{
	margin-top: 10px;
}
.faq{
color: #FFFFFF;
  font-family: 'GoogleSans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  width: 33px;
  text-align: left;
  text-decoration-line: none;
}

.logo{
  color: #FFFFFF;
  font-family:'Lato;
  font-size: 22px;
  font-weight: 900;
  line-height: 40px;
  width: 336px;
  text-align: left;
  text-decoration-line: none;
}

.faq:hover{
  color:#00bfff;
}

.logo:hover{
   color:#00bfff;
}

#nav-content{
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 20px;
}

hr {
background-color:linear-gradient(to right, #0120d6, #023bdc, #1950e1, #3063e3, #4675e4);
}

.font-content{
	margin-left: 135px;
	margin-top: 110px;
}
.font_1{
  color: #FFFFFF;
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
  text-align: left;
}

.font_2{
  margin-top: 26px;
  color: #FFFFFF;
  font-family: 'Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  text-align: left;
}

.registrasi_card{
		-webkit-box-shadow: 0px 10px 61px -12px rgba(0,0,0,0.75);
	    -moz-box-shadow: 0px 10px 61px -12px rgba(0,0,0,0.75);
		box-shadow: 0px 10px 61px -12px rgba(0,0,0,0.75);
		background-color: white;
		border-radius:8px;
		width: 364px;
  		height: 580px;
  		margin-right: 166px;
  		margin-left: 70px;
  		padding: 34px;
	}

  .cardd{
    margin-left: 10px;
  }

	.font_3{
  color: #1E1D32;
  font-family: 'Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  width: 336px;
  text-align: left;

	}

	.font_4{
  color: #597091;
  font-family: 'Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 336px;
  text-align: left;
	}

	.font_5{
  color:: #B2C6E2;;
  font-family:'Lato;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  width: 315px;
  text-align: left;
	}

	.font_6{
  color: #B2C6E2;
  font-family:'OpenSans;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
	}

	.cek{
		color: #1E1D32;
  font-family:'Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  width: 128px;
  text-align: left;
	}

.f{
  background-color: #FFFFFF;
  border: 1.8px solid rgba(178, 198, 226, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  width: 300px;
  height: 48px;
}

::placeholder{
  color: #B2C6E2;
  font-family:'Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  width: 209px;
  text-align: left;
}

.submit-reg{
	margin-top:20px;
	background-color: #ff3300;
    padding: 10px;
    width: 120px;
    font-size: 14px;
}
/*
section 2 css*/

.section_2{
	margin-top: 40px;
	height: 500px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

/* section 3*/

.card{
		-webkit-box-shadow: -1px 10px 24px 1px rgba(51,204,255,0.24); 
		box-shadow: -1px 10px 24px 1px rgba(51,204,255,0.24);
		/*width: 347px;*/
    width: 95%;
  		height: 381px;
		border-radius:15px;
		padding: 40px;
		color:#8297B4;
	}

	.card:hover {
  background: linear-gradient(to bottom left, #66ccff 0%, #0066ff 100%);
  color:white!important;
}

.section-3{
	height: 900px;
	margin-top: 150px;
	
}

.section-3-img{
background-image: url(../vendor/assets/landing/background/bg_opacity_konsultan.png);
background-size: cover;
height: 900px;
background-repeat: no-repeat;
}
.heading-font{
	margin-top: 50px;
	color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  font-family:'Lato;
}

.content-font{
	margin-top: 20px;
	color: black;
  font-family:'Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  text-align: left;
}

.title-section{
	 color: #1E1D32;
  font-family:Lato;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  width:100%;
  text-align: center;
}

.foto{
  height: 300px;
    padding-top: 250px;
    padding-left: 220px
}

#wow{
    height: 800px;
    padding-right: 68px;
    margin-top: 285px
   
}

.foto-content{
    background-image: url(../vendor/assets/landing/image/img_line_image_konsultan.png);
  background-repeat: no-repeat;
  width: 291px;
  height: 291px;
      margin: auto auto;
    display: block;

}

/*sectiion 4*/

.silakan-berbicara-de {
  color: #FFFFFF;
  font-family:'Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  width: 420px;
  text-align: left;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-c{
  display: block;
  margin-left: auto;
  margin-right: auto;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.font-section-4-head{
  color: #FFFFFF;
  font-family:Lato;
  font-size: 40px;
  font-weight: 900;
  line-height: 54px;
  width: 420px;
  text-align: left;
}

.font-up{
      height: 458px;
      width: 100%;
      margin-top: 156px;
      padding-left: 90px;
}

.form-contact{
  height: 458px;
  padding: 30px;
  width: 100%;
}

.form-contact-space{
  margin-top: 20px;
}

.kirim-pesan {
  color: #0120D6;
  font-family:'Lato;
  font-size: 15px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
}

.rectangle-copy {
  background-color:white;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(250, 124, 86, 0.3);
  width: 133px;
  height: 47px;
  color: white;
}

.contact{
  background-color: rgba(255, 255, 255, 0.1);
  border: 1.8px solid rgba(178, 198, 226, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  width: 86%;
  height: 48px;
  color: white;
}

.section-4{
  height: 500px;
  margin-top: 100px;
}

.section-4-bg{

  background-image: url(../vendor/assets/landing/background/bg_home_header@2x.png);
  border-radius: 72px 0px 72px 0px ;
  width: 85%;
  height: 528px;

}

.contact::placeholder{
   color: #B2C6E2;
  font-family:'Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  width: 209px;
  text-align: left;
}

.contact-pesan::placeholder{
   color: #B2C6E2;
  font-family:'Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  width: 209px;
  text-align: left;
}

.contact-pesan{
    background-color: rgba(255, 255, 255, 0.1);
  border: 1.8px solid rgba(178, 198, 226, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  width: 86%;
  height: 96px;
  color: white;
}

.footer{
  margin-top: 100px;
}

.font-foot{
  color: #8297B4;
  font-family:'Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.hr-foot{
/*   border: 1px solid black;*/
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.head-coursel{
color: #1E1D32;
  font-family:Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  width: 80%;
}

.content-coursel{
  margin-top: 40px;
  color: #597091;
  font-family:'Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 75%;
  text-align: left;
}

.tombol-center{
  padding-left: 40%;
}

.tombol-coursel{
    background-color: #FA7C56;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 70px;
}

.content-tombol{
  color: #FFFFFF;
  font-family:'GoogleSans;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
}


.fam{
  width: 120%; height: 544px; overflow: hidden; border: 0px;border-radius: 10px;
}
.fam-con{
  margin-left: 80px;
}
@media(max-width: 760px){
  .cd{
  margin-top: 10px;
}
  .cardd{
    padding: 0px;
  }
  #wow{
    padding:20px;
  }
  .pajak{
    width: 80%;
    float: left;
  }
  .font_2{
    width: 100%;
  }
.fam {
    width: 100%;
    height: 424px;
  }
  .fam-con{
    margin-left: 0px;
    margin-top: 50px;
   /*   margin-top: 250px;*/
}
  .logo{

  width: 106px;
}


#nav-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.font-content {
    margin-left: 19px;
    margin-top: 10px;
}
.section_2{
      margin-top: 430px;
    height: 1200px;
}
.foto{
    height: 100px;
    padding-top: 60px;
    padding-left: 16px;
}
.content-coursel{
  width: 100%;
  text-align: center;
}
.tombol-center {
    padding-left: 17%;
}

.section-4-bg{
    width: 100%;
    height: 758px;
    margin: 0px;
}
.font-up {
    height: 8px;
    width: 100%;
    margin-top: 56px;
    padding-left: 25px;
    margin-bottom: 150px;
}
.silakan-berbicara-de {
  width: 100%;
}
.contact {
  width: 100%;
}
.contact-pesan {
  width: 100%;
}
.section-4 {
    height: 730px;
    }
    .section-3-img {
      padding: 10px;
    }

    .font-section-4-head {
          font-size: 25px;
          text-align: left;
    }
    .head-coursel {
      font-size: 25px;
      text-align: center;
      width: 100%!important;
    }
    .font_1{
      font-size: 38px;
    }
}

@media(max-width: 900px){
.section_2{
  margin-top: 40px;
  height: 1400px;
}
 .font-section-4-head {
          font-size: 25px;
    }
}

